body {
    background-color: rgb(192, 180, 192);
    color: rgb(32, 73, 73);
    font-family: 'Times New Roman', Times, serif;
}

header {
    padding: 20px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

footer {
    padding: 20px;
    margin-top: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    /* grid-area: cs1; */

}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    border: 3px solid #000;
    border-radius: 1%;
    box-shadow: 5px 10px 10px;
    padding: 20px;
    flex: 1 1 250px;
}
.project-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-areas:
        "head "
        "main "
        "foot ";

}

main {
    display: grid;
    border: solid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "cs1 aside"; 

}

header {
    grid-area: head;
}

main {
    grid-area: main;

}

footer {
    grid-area: foot;
}

aside {
     grid-area: aside; 
}
aside img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.no-aside .container {

    grid-column: 1/3;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px;
    background-color: rgb(88, 77, 182);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

button:hover {
    background-color: rgb(77, 167, 167);
    transform: scale(1.05);

}

nav a {
    color: rgb(124, 71, 39);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;

}
nav a:hover {
    color:aliceblue;
    transform: scale(1.05);
}
/*--------------------------------------------------------------  */
/* For project card 1 */
.img-container{
    position: relative;
    overflow: hidden;
    
}
.img-overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 17, 17, 0.473);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: rgb(161, 11, 11);
}
.img-container:hover .img-overlay{
    opacity: 1;
}
.img-container:hover img{
    transform: scale(1.05);
}
.img-container img{
    transition: transform 0.3s ease;
}
/* Project card 1 ends here */
/*--------------------------------------------------------------  */
/* For table */
table{
    width:100%;
    border: 1px solid black;
    border-collapse:collapse ;
}
table thead{
    background-color: rgb(255, 230, 0);
}
td, th{
    padding: 5px;
    border: 1px solid black;
}
tbody tr:nth-child(even){
    background-color: blanchedalmond;
}
/* Table ends here */